@using TestWork2021.Core
@model IQueryable<Product>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

Пример ссылок на сайт:
<td>https://nikopol.org</td>
<tr>или</tr>
<td>https://nikopol.org/g26592174-ruchki </td>
@*В случае если сайт не содержит https://nikopol.org то будет просто обновлена текущая страница
    или данные по умолчанию*@

    <form method="post" asp-action="setUrl">
        <label>Укажите адрес сайта:</label>
        <input type="text" name="setUrl" />
        <input type="submit" value="загрузить данные по ссылке" />
    </form>

    <form method="post" asp-action="ProductsEdit">
        <input type="submit" value="Добавить запись" />
    </form>

    <form method="post" asp-action="DelAllData">
        <input type="submit" value="Очистить все данные в таблице" />
    </form>


    <center>Текущие данные в базе данных</center>

    <table border="1" width="100%" cellpadding="2" align="left">
        <tr>
            <th>Наименование товара  </th>
            <th>Изображение</th>
        </tr>

        @foreach (Product entity in Model)
        {
            <tr>
                <td>@entity.naim </td>
                <td><img src=@entity.url></td>
            </tr>
                    <tr>
                        <td>
                            <form method="post" asp-action="ProductsEdit">
                                <input type="hidden" name="id" value="@entity.id" />
                                <input type="submit" value="редактировать" />
                            </form>
                        </td>
                        <td class="rightcol">
                            <form method="post" asp-action="ProductDelete">
                                <input type="hidden" name="id" value="@entity.id" />
                                <input type="submit" value="удалить" />
                            </form>
                        </td>
                    </tr>
        }
    </table>

