@using TestWork2021.Core
@model Product
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div>
    <h1>Редактировать статью</h1>
    <div>
        @*<form asp-controller="Product" asp-action="ProductsEdit" method="post">*@
            <form asp-action="ProductEdit" method="post">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="All"></div>

                <div>
                    <label asp-for="Naim">Наименование</label>
                    <input asp-for="Naim" />
                    <span asp-validation-for="Naim"></span>
                </div>
                @*<div>
                    <label asp-for="sku"></label>
                    <textarea asp-for="sku"></textarea>
                    <span asp-validation-for="sku"></span>
                </div>*@
                <div>
                    <label asp-for="Url">Ссылка на изображение</label>
                    <textarea asp-for="Url"></textarea>
                    <span asp-validation-for="Url"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </form>
</div>
</div>