@using TestWork2021.Core
@model IQueryable<Product>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<center>В базу данных загружены следующие данные</center>

<div class="text-center">

    <table border="1" width="100%" cellpadding="2" align="left">
        <tr>
            <th>Наименование товара</th>
            <th>Изображение</th>
        </tr>

        @foreach (Product entity in Model)
        {
            <tr>
                <td>@entity.Naim </td>
                <td>@entity.Url</td>
            </tr>
        }
    </table>


    @*<table border="1" width="100%" cellpadding="2" title="test">

            <tr>
                <th> "Наименование товара"  </th>
                <th>  "Изображение"</th>
            </tr>

            @foreach (Product entity in Model)
            {

                <td> @entity.naim </td>
                <td> @entity.url  </td>


            }
        </table>*@

</div>